#notification {
	
	position: absolute;
	z-index: 9999999999;
	right: 0px;
	top: -50px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	font-size: 0.8em;
	padding-left:50px;
	padding-right:50px;
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ie6 #notification {
	position: absolute;
}

#notification .close {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 7px;
	top: 7px;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 15px;
	vertical-align:middle;
	color: #000000;
	border-radius:3px;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	text-decoration: none;
}

.success {
	background: #D4FFCD;
	border-bottom-color: #9ADF8F;
	color: #258815;
}

.information {
	background: #DBECFF;
	border-bottom-color: #9FC7F5;
	color: #2850C1;
}

.information .close {
	background: #2850C1;
}

.warning {
	background: #FEFCCB;
	border-bottom-color: #E5DB55;
	color: #878314;
}

.warning .close {
	background: #878314;
}

.error {
	background: #fbb5b5;
	border-bottom-color: #fad3d3;
	color: #871414;
}

.error .close {
	background: #871414;
}

#notification .close:hover {
	color: #000000;
	text-decoration: none;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	cursor: pointer;
}