.ui-dropdownchecklist
{
	height: 17px;
	border: 1px solid #909090;
	border-radius:1px;
	background: #fff url(../images/dropdown.png) no-repeat center right;
	padding-right: 17px; /* background dropdown.png image */
    overflow:hidden;
    width: 120px;
    line-height: 14px;
}
.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active
{
	background-image: url(../images/dropdown_hover.png); 
	border-color: #5794bf;
}

.ui-dropdownchecklist-text
{
	font-size: 15px;
	line-height: 20px;
}

.ui-dropdownchecklist-dropcontainer
{
	background-color: #fff;
	border: 1px solid #999;
}

.ui-dropdownchecklist-item
{
	
}

.ui-dropdownchecklist-item-hover
{
	background-color: #39f;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text
{
	color: #fff;
}

.ui-dropdownchecklist-group
{
	font-weight: bold;
	font-style: italic;
}

.ui-dropdownchecklist-indent
{
	padding-left: 20px;
}
