body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	margin: 0 auto;
	min-width: 640px;
	max-width: 1400px;
	min-height: 100%;
	position: relative;
	width: 100%;
}

#header {
	height: 60px;
	font-size: 35px;
	color: #0D0D7A;
	background: white;
	border: 1px solid black;
	border-bottom: 0px;
	padding-top: 5px;
	padding-left: 30px;
}

#one ul {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background: white;
	border-radius: 3px;
	text-align: center;
	min-width: 15%;
	padding: 0;
	margin: 0;
	line-height: 21px;
	overflow: auto;
	border: 1px solid #AEAEAE;
}

#one li {
	padding-bottom: 5px;
	list-style: square;
	border-bottom: 1px solid #ddd;
	border-left: 5px solid black;
	font-size: 15px;
	padding: 7px 12px;
}

#one li a {
	display: block;
}

#one li a:focus {
	color: #000096;
	font-weight: bold;
	text-decoration: underline;
	outline: none;
}

#middle {
	border: thin solid black;
	border-bottom: 0px;
	border: 1px solid black;
	padding: 10px;
	padding-bottom: 50px;
	position: absolute;
	bottom: 0px;
	top: 65px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#middle #center {
	overflow-y: auto;
	width: 100%;
	margin-bottom: -80px;
	height: 100%;
}

div#middle>div {
	float: left;
}

div#middle>div>div {
	padding: 20px;
	border: 1px solid #ddd;
	word-break: break-all;
}

div#middle #center .pagination {
	padding: 0;
	border: 1px solid #ddd;
}

div#middle #center #content {
	min-height: 89%;
	padding-bottom: 60px;
}

#footer {
	clear: both;
	position: absolute;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
	width: 100%;
	bottom: 0;
	color: #D5D5D5;
	background-color: #111;
}

.form {
	overflow: auto;
	position: relative;
	margin-top: 15%;
}

fieldset {
	border: 1px solid #888;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	width: 300px;
	margin: 0 auto;
}

legend {
	font-weight: bold;
	border: 1px solid #888;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 0.5em;
	background-color: #666;
	color: #fff;
	text-shadow: 0 -1px 0 #333;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

input {
	display: block;
	width: 175px;
	float: left;
	margin-bottom: 10px;
}

label {
	display: block;
	text-align: right;
	float: left;
	width: 75px;
	padding-right: 20px;
}

.checkbox {
	width: 1em;
}

br {
	clear: left;
}

.buttonsubmit {
	width: 75px;
	margin-left: 95px;
}