body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	margin: 0 auto;
	min-width: 640px;
	max-width: 1400px;
	min-height: 100%;
	position: relative;
	width: 100%;
}

#header {
	height: 60px;
	font-size: 35px;
	color: #0D0D7A;
	background: white;
	border: 1px solid black;
	border-bottom: 0px;
	padding-top: 5px;
	padding-left: 30px;
}

#one ul {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background: white;
	border-radius: 3px;
	text-align: center;
	min-width: 15%;
	padding: 0;
	margin: 0;
	line-height: 21px;
	overflow: auto;
	border: 1px solid #AEAEAE;
}

#one li {
	padding-bottom: 5px;
	list-style: square;
	border-bottom: 1px solid #ddd;
	border-left: 5px solid black;
	font-size: 15px;
	padding: 7px 12px;
}

#one li a {
	display: block;
}

#one li a:focus {
	color: #000096;
	font-weight: bold;
	text-decoration: underline;
	outline: none;
}

#middle {
	border: thin solid black;
	border-bottom: 0px;
	border: 1px solid black;
	padding: 10px;
	padding-bottom: 50px;
	position: absolute;
	bottom: 0px;
	top: 65px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

#middle #center {
	overflow-y: auto;
	margin-bottom: -80px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
}

.shortText {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	float: left;
	padding-bottom: 20px;
}

.author {
	margin-left: 20px;
	float: left;
}

.view, .comments, .tags {
	float: right;
	margin-left: 10px;
}

.news-date {
	float: right;
	text-decoration: underline;
}

.clearfix {
	clear: both;
}

.fullText {
	clear: both;
	width: 80%;
	text-align:left;
}

div#middle>div {
	float: left;
}

.news-wrapper {
	padding: 20px 40px;
	padding-bottom: 50px;
}

div#middle>div>div {
	border: 1px solid #ddd;
	word-break: break-all;
}

div#middle #center .pagination {
	border: 1px solid #ddd;
	clear: both;
}

div#middle #center #content {
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.back-button {
	float: left;
	margin-top: 10px;
}

#footer {
	clear: both;
	position: absolute;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
	width: 100%;
	bottom: 0;
	color: #D5D5D5;
	background-color: #111;
}

#comment-container {
	text-align: left;
	max-width: 530px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.message {
	background: #c5c5c5;
	margin-left: 5px;
	border: 1px solid #E4E4E4;
	margin-bottom: 20px;
	padding: 2px;
}

.comment-date {
	text-decoration: underline;
}

#absent-comments {
	color: #c00;
	font-weight: bold;
}

.basic-grey {
	margin-left: 0;
	margin-right: auto;
	max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

.basic-grey h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;;
	color: #888;
}

.basic-grey h1>span {
	display: block;
	font-size: 11px;
}

.basic-grey label {
	display: block;
	margin: 0px;
}

.basic-grey label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

.basic-grey textarea {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
	padding: 5px 3px 3px 5px;
}

.basic-grey textarea {
	height: 100px;
	resize: vertical;
}

.back-button {
	background: #950006;
	background: -moz-linear-gradient(top, #de0009 0%, #950006 100%);
	background: -o-linear-gradient(top, #de0009 0%, #950006 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de0009),
		color-stop(100%, #950006));
	background: -webkit-linear-gradient(top, #de0009 0%, #950006 100%);
	background: linear-gradient(top, #de0009 0%, #950006 100%);
	border: solid #dd0009;
	border-width: 1px 1px 1px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-left: 20px;
	margin-right: 2px;
	padding: 0 7px 0 3px;
	position: relative;
	text-decoration: none;
}

.back-button:before {
	background: #950006;
	background: -moz-linear-gradient(-45deg, #de0009 0%, #950006 100%);
	background: -o-linear-gradient(-45deg, #de0009 0%, #950006 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #de0009),
		color-stop(100%, #950006));
	background: -webkit-linear-gradient(-45deg, #de0009 0%, #950006 100%);
	background: linear-gradient(-45deg, #de0009 0%, #950006 100%);
	border: solid #dd0009;
	border-width: 0 0 1px 1px;
	border-radius: 2px 0 2px 2px;
	content: '';
	display: block;
	height: 21px;
	left: -11px;
	position: absolute;
	top: 3px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 21px;
}

.back-button:hover, .back-button:focus {
	border-color: #b50007;
	background: #7e0004;
	background: -moz-linear-gradient(top, #b50007 0%, #7e0004 100%);
	background: -o-linear-gradient(top, #b50007 0%, #7e0004 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b50007),
		color-stop(100%, #7e0004));
	background: -webkit-linear-gradient(top, #b50007 0%, #7e0004 100%);
	background: linear-gradient(top, #b50007 0%, #7e0004 100%);
}

.back-button:hover:before, .back-button:focus:before {
	border-color: #b50007;
	background: #7e0004;
	background: -moz-linear-gradient(-45deg, #b50007 0%, #7e0004 100%);
	background: -o-linear-gradient(-45deg, #b50007 0%, #7e0004 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #b50007),
		color-stop(100%, #7e0004));
	background: -webkit-linear-gradient(-45deg, #b50007 0%, #7e0004 100%);
	background: linear-gradient(-45deg, #b50007 0%, #7e0004 100%);
}

a span {
	color: #fff;
	font-weight: bold;
	position: relative;
}

.basic-grey .submit-button {
	background: #E27575;
	border: none;
	padding: 7px 15px 7px 15px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.basic-grey .button:hover {
	background: #CF7A7A
}

.button {
	display: inline-block;
	position: absolute;
	color: #888;
	bottom: 10px; text-shadow : 0 1px 0 rgba( 255, 255, 255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 8px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.button:hover {
	color: #555;
}

.button:active, .button:active:after, .button:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Back Button */
.button.back {
	border-left: none;
	left: 20px;
}

.button.back:after {
	content: '';
	position: absolute;
	height: 50%;
	width: 15px;
	border-left: 1px solid #bcbcbc;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	left: -5px;
	top: 1px;
	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);
}

.button.back:before {
	content: '';
	position: absolute;
	height: 48%;
	width: 15px;
	border-left: 1px solid #bcbcbc;
	bottom: 1px;
	left: -5px;
	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);
	background-image: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	-webkit-box-shadow: -2px 1px 2px rgba(100, 100, 100, 0.1);
	box-shadow: -2px 1px 2px rgba(100, 100, 100, 0.1);
}

/* Next Button */
.button.next {
	border-right: none;
	right: 20px;
}

.button.next:after {
	content: '';
	position: absolute;
	height: 48%;
	width: 15px;
	border-right: 1px solid #bcbcbc;
	background-image: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	background-image: linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(239, 239, 239, 1) 10%, rgba(225, 223, 226, 1) 100%);
	right: -5px;
	bottom: 1px;
	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);
	-webkit-box-shadow: 2px 1px 2px rgba(100, 100, 100, 0.1);
	box-shadow: 2px 1px 2px rgba(100, 100, 100, 0.1);
}

.button.next:before {
	content: '';
	position: absolute;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 1%, rgba(240, 240, 240, 1) 100%);
	height: 50%;
	width: 15px;
	border-right: 1px solid #bcbcbc;
	top: 1px;
	right: -5px;
	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 4px 8px 4px 8px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#locale {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}
